.width-fit-content{
  width: fit-content;
}

.height-fit-content{
  height: fit-content;
}

.li-type-none{
  list-style-type: none;
}

.clr-firebrick{
  color: firebrick;
}

.clr-gold{
  color: #FFD43B;
}

.clr-midnight-blue{
  color: midnightblue;
}

.clr-green{
  color: green;
}

.clr-red{
  color: red;
}

.clr-black{
  color: black;
}

.pl-2vw{
  padding-left: 2vw !important;
}

/* recipe section */

.recipe-container{
    width: fit-content; 
    margin: auto;
}

.recipe-container .container{
    max-width: 50vw;
    border-width: 2px
}

/* .recipe-container .recipe-sub-info{
    display: -webkit-inline-box !important;
} */

.recipe-container .recipe-info-row{
    border-top: 1px solid orange;
    padding-top: 16px;
    padding-bottom: 16px;
}

.recipe-container .recipe-info-col{
    border-right: 1px solid orange;
}

.recipe-info-align-center{
    text-align: center;
}

.recipe-container .recipe-ingredients-steps-title{
    display: inline-flex; 
    align-items: baseline;
}

/* end of recipe section */

/* review section */
.myReviews .col-md-4 {
    max-width: fit-content !important;
  }

  .single-small-receipe-area {
    position: relative;
    z-index: 1;
    margin-bottom: 50px;

    flex-direction: column;
  }

  .single-small-receipe-area .receipe-thumb {
    -webkit-box-flex: 0;
    /* -ms-flex: 0 0 100px; */
    /* flex: 0 0 100px; */
    max-width: 100px;
    width: 100px;
    padding-right: 20px;
  }

  .single-small-receipe-area .receipe-thumb img {
    width: 10vw;
  }

  .single-small-receipe-area .receipe-content span {
    font-size: 12px;
    display: block;
    color: #40ba37;
  }

  .single-small-receipe-area .receipe-content a {
    display: block;
  }

  .single-small-receipe-area .receipe-content a h5 {
    color: #474747;
    font-size: 18px;
    margin-bottom: 5px;
    -webkit-transition-duration: 500ms;
    transition-duration: 500ms;
  }

  @media only screen and (min-width: 992px) and (max-width: 1199px) {
    .single-small-receipe-area .receipe-content a h5 {
      font-size: 16px;
    }
  }

  .single-small-receipe-area .receipe-content a h5:hover,
  .single-small-receipe-area .receipe-content a h5:focus {
    color: #40ba37;
  }

  .single-small-receipe-area .receipe-content .ratings i {
    font-size: 11px;
    color: #fbb710;
    display: inline-block;
    padding: 0 1px;
  }

  .single-small-receipe-area .receipe-content p {
    font-size: 12px;
    margin-bottom: 0;
    color: #9b9b9b;
  }


  .rev-main-container{
    width: fit-content;
    margin: auto;
  }

  .review-container{
    width: fit-content; 
    /* height: 37vh; */
  }

  .review-container .scrollspy-example{
    /* height: 33vh;  */
    overflow-x: auto;
  }

  .review-container .myReviews{
    white-space: nowrap; 
    width: fit-content;
  }

  .review-container .review-cols{
    display: inline-block; 
    margin: 0vw 1vw;
  }
  /* end of review section */