@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;500;600;700&family=Open+Sans:wght@400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

/* header section */
h1,
h2 {
    font-family: "Dancing Script", cursive;
}

.header_section img {
    height: 3rem;
}

header {
    background-color: black;
}

.header_section h2 {
    color: burlywood;
    margin-left: 30%;
    margin-bottom: 0px;
    width: 20%;
    display: inline;
}

.header_section {
    padding-top: 8px;
    padding-bottom: 8px;
}

.header_section .container {
    margin-top: 0px;
    margin-bottom: 0px;
    padding-left: 24px;
    padding-right: 24px;
}

.navbar-brand {
    font-family: "Dancing Script", cursive;
}

.navbar-brand span {
    font-weight: bold;
    font-size: 32px;
    color: #ffffff;
}

.custom_nav-container {
    padding: 0;
}

.custom_nav-container .navbar-nav {
    padding-left: 0;
    margin-left: 18vw !important;
}

.custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 5px 20px;
    color: #ffffff;
    text-align: center;
    text-transform: uppercase;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-nav .nav-item:hover .nav-link,
.custom_nav-container .navbar-nav .nav-item.active .nav-link {
    color: #ffbe33;
}

.custom_nav-container .nav_search-btn {
    width: auto;
    height: auto;
    padding: 0;
    border: none;
    color: #ffffff;
    margin: 0 10px;
}

.custom_nav-container .nav_search-btn:hover {
    color: #ffbe33;
}

.user_option {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.user_option a {
    margin: 0 10px;
}

.user_option .user_link {
    color: #ffffff;
}

.user_option .user_link:hover {
    color: #ffbe33;
}

.custom_nav-container .navbar-toggler {
    outline: none;
}

.custom_nav-container .navbar-toggler {
    padding: 0;
    width: 37px;
    height: 42px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span {
    display: block;
    width: 35px;
    height: 4px;
    background-color: #ffffff;
    margin: 7px 0;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
    position: relative;
    border-radius: 5px;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::before,
.custom_nav-container .navbar-toggler span::after {
    content: "";
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: #ffffff;
    top: -10px;
    border-radius: 5px;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.custom_nav-container .navbar-toggler span::after {
    top: 10px;
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}

.custom_nav-container .navbar-toggler[aria-expanded="true"] span::before,
.custom_nav-container .navbar-toggler[aria-expanded="true"] span::after {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
    top: 0;
}

.dropdown-menu li{
    width: fit-content;
    margin: auto;
}

.dropdown-menu .dropdown-item{
    width: fit-content;
}

.dropdown-menu a:hover{
    background-color: #ffbe33;
}

.dropdown-menu .dropdown-divider{
    width: 130px;
}

.container-fluid{
    width:90%;
  }
  
  .custom_nav-container .navbar-nav{
    margin-left: 17vw !important;
  }

.user_option .dropdown .dropdown-toggle{
    color: bisque;
}  

/* end of header section */

.width-fit-content{
    width: fit-content;
  }

/* registration section  */
.form-body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.form-body {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    /* background: linear-gradient(135deg, #52D3D8, #3887BE); */
}

.form-body .container {
    max-width: 700px;
    width: 100%;
    background-color: #fff;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
    margin-top: 10px;
    margin-bottom: 0px;
}

.form-body .form-container {
    width: max-content;
    margin-top: 0px;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.form-body .container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.form-body .container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #d26940, #dba74f);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

.form-body form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

.form-body form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    border: 1px solid #ccc;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid,
.user-details .input-box select {
    border-color: linear-gradient(135deg, #d26940, #dba74f);
}

.form-body form .gender-details .gender-title {
    font-size: 17px;
    font-weight: 500;
}

.form-body form .category {
    display: flex;
    width: fit-content;
    margin: 14px 0;
    justify-content: space-between;
}

.form-body form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.form-body form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
}

.form-body form input[type="radio"] {
    display: none;
}

.form-body form .button {
    height: 45px;
    margin: 20px 0;
    margin-bottom: 25px;
}

.form-body form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #d26940, #dba74f);
}

.form-body form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #d26940, #dba74f);
}

@media (max-width: 584px) {
    .form-body .container {
        max-width: 100%;
    }

    .form-body form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }

    .form-body form .category {
        width: 100%;
    }

    .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    }

    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media (max-width: 459px) {
    .form-body .container .content .category {
        flex-direction: column;
    }
}

/* end of registration section */

/* footer section */

.footer_section {
    background-color: #222831;
    color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
}

.footer_section p {
    padding-bottom: 0px;
}

.footer_section h4 {
    font-size: 28px;
}

.footer_section h4,
.footer_section .footer-logo {
    font-weight: 600;
    margin-bottom: 20px;
    font-family: "Dancing Script", cursive;
}

.footer_section p {
    color: #dbdbdb;
}

.footer_section .footer-col {
    margin-bottom: 30px;
}

.footer_section .footer_contact .contact_link_box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
}

.footer_section .footer_contact .contact_link_box a {
    margin: 5px 0;
    color: #ffffff;
}

.footer_section .footer_contact .contact_link_box a i {
    margin-right: 5px;
}

.footer_section .footer_contact .contact_link_box a:hover {
    color: #ffbe33;
}

.footer_section .footer-logo {
    display: block;
    font-weight: bold;
    font-size: 38px;
    line-height: 1;
    color: #ffffff;
}

.footer_section .footer_social {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.footer_section .footer_social a {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #222831;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #ffffff;
    border-radius: 100%;
    margin: 0 2.5px;
    font-size: 18px;
}

.footer_section .footer_social a:hover {
    color: #ffbe33;
}

.footer_section .footer-info {
    text-align: center;
    margin-top: 25px;
}

.footer_section .footer-info p {
    color: #ffffff;
    margin: 0;
}

.footer_section .footer-info p a {
    color: inherit;
}

.footer_social a {
    text-decoration: none;
}

/* end of footer section */