.width-fit-content{
    width: fit-content;
}

.user-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin-bottom: 20px;
  }

  .user-card img {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    max-width: 100%;
    height: auto;
  }

  .user-card .card-body {
    padding: 20px;
  }